body {
  margin: 0px;
  padding: 0px;
  padding-bottom: 100px;
}

h1 {
  font-size: 4em;
  padding: 20px 50px;
}

.App {
  text-align: left;
}

.Feed {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  /* background-color: rgba(250,250,250, 0.5); */
}

.Post {
  /* width: 40%; */
}

.Post img {
  object-fit: cover;
  width:230px;
  height:230px;
}

.Post img:hover{
  object-fit: none;
  -webkit-transition: width 1000ms ease;
    -moz-transition:    width 1000ms ease;
    -ms-transition:     width 1000ms ease;
    -o-transition:      width 1000ms ease;
    transition:         width 1000ms ease;
}